@import url('https://fonts.googleapis.com/css?family=Play');
.github-card{
margin:0 !important;
padding:0;
border:1px solid black;
width:300px;
font-family: 'Play', sans-serif;
}.github-card-container{
padding:0;
margin:0;
background-color: #eee;
height:100%;width:100%;
}.github-card-header{
background-color: #222;
height:100px;
width:100%;
}.github-card-content{
position: absolute;
top:62px;
}.github-card-avatar{
border-radius:200px;
border:1px solid black;
margin-left:10px;
}.github-card-logo{
float:right;
margin:10px;
width:30px;
}.github-card-name{
color:#fff;
font-weight:bold;
font-size:15pt;
}.github-card-button{
text-decoration:none;
background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
border: 1px solid rgba(27,31,35,0.2);
font-size:10pt;
color:#444;
padding:5px;
padding-left:30px;
padding-right:30px;
}.github-card-button:hover{
background: linear-gradient(-180deg, #fff 0%, #eee 90%);
}.github-card-textlogo{
position: absolute;
left:0;
bottom:0;
opacity:0.5;
}.github-card-repo{
font-size:9pt;
margin:5px;
padding:7px;
border:1px solid #ddd;
background-color: #fff;
padding-left:20px;
}.github-card-repo-headline{
font-size:11pt;color:#0366d6;text-decoration:none;
}.github-card-repo-desc{
font-size:7pt;
color:#777;
}